body{
    font-family: Geneva, Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background: linear-gradient(to bottom, #ffffff 39%,#d0dce5 100%);
    /*background-attachment: fixed;*/
}
.chartBlock{ 
    margin: auto;
    margin-bottom: 5%;     
    width:60%;
    font-family: Arial,sans-serif;
}

.plyama{
    text-align: center;    
    padding: 50px 0 50px 0;
    background-color: azure;
    border: 2px solid #2d4294;
    margin: auto;
    margin-bottom: 5%;
    width: 60%;  
}

.plyama2{
    text-align: center;    
    padding: 50px 0 50px 0;
    background-color: azure;
    border: 2px solid #2d4294;
    margin: auto;
    margin-bottom: 5%;
    width: 100%;  
}

.NCALogo{
    
}

.highcharts-title {    
    font-family: Arial,sans-serif;
}

::selection {
background: white;
}

/*Для statistic2*/
#leftPart{
    width: 50%;    
    float: left;
    margin: 0;
}

#rightPart{
    width: 50%;   
    float: right;
    margin-top: 2%;
}

.chartBlock2{ 
    margin: auto;
    margin-bottom: 5%;     
    width:90%;
    font-family: Arial,sans-serif;
}